/* You can add global styles to this file, and also import other style files */
.bracket{
    border-bottom: 1px solid;
    border-left: 1px solid;
    height: 1.5rem;
    width: 2rem;
    display: inline-block;
    margin-bottom: 0.3rem;
    margin-left: 1rem;
  }
  
  .button {
    margin-left: 10px;
    padding: 5px 5px;
    background-color: #059c1e;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }